@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollleiste vollständig ausblenden */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Funktioniert auch für andere Browser */
  body {
    -ms-overflow-style: none;  /* IE und Edge */
    scrollbar-width: none;     /* Firefox */
  }
  