@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;  /* IE und Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}


/* Vanilla CSS for flip card */
.card { perspective: 800px;}
.card__content {transform-style: preserve-3d;}
.flipped .card__content {transform: rotateY(.5turn);}

.card__front,
.card__back { backface-visibility: hidden;}
.card__back{ transform: rotateY(.5turn);}
